<ion-view view-title="Staff">
  <ion-content>
      <ion-list can-swipe="true">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Search" ng-model="query" ng-model-options="{ debounce: 200 }" >
            </label>
            <a ng-repeat="staff in staff | unique:staff.id | filter:query | orderBy : sortField | limitTo:limit" ng-href="#/tab/staff/{{staff.id}}" class="item item-icon-right}">
             <h2>{{staff.selectname}}</h2>
            </a>
            <a href="" class="item text-center" ng-click="showmore()" ng-show="staff.length">SHOW MORE</a>
            <p class="item text-center" ng-show="!staff.length">Wait for it ...</p>
        </ion-list>
  </ion-content>
</ion-view>
