<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Staff Tab -->
  <ion-tab title="Staff" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tab.staff">
    <ion-nav-view name="tab-staff">Staff</ion-nav-view>
  </ion-tab>

  <!-- Churches Tab -->
  <ion-tab title="Churches" icon-off="ion-ios-world" icon-on="ion-ios-world-outline" ui-sref="tab.churches">
    <ion-nav-view name="tab-churches">Churches</ion-nav-view>
  </ion-tab>

</ion-tabs>
