.card-charis {
    border-radius:20px; 
    border-width:5px; 
    margin:10px auto; 
    border-color:#699082; 
    padding:10px
}

.card-charis-square {
    border-radius:0px;
}

.promo-charis {
    height:100px;
}

.categorymenulist {
    float:left;
    margin-right: 40px
}

.card-charis-sub {
    background-color: lightgrey;
    padding:10px;
    margin:10px;
}

.u-image-icon-size-charis {
    height: 346px; }

.charis-video-left {
    padding-right:5px
}    

.charis-video-right {
    padding-left:5px
}    

[v-cloak] {
    display:none;
}

.charis-columns {
    column-count: 3; 
    column-width:300px; 
    column-rule: 2px outset #698F81
}

.announcementContent {
    text-align: center;
}

#socialIcons {
    margin:auto 0;
}

.charisIs {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 50px;
    margin-top:-70px;
}

.notequalsetting td {
    background-color: greenyellow;
}

a.btn {
    background-color: black;
}