.card-charis {
    border-radius:20px; 
    border-width:5px; 
    margin:10px auto; 
    border-color:#699082; 
    padding:10px
}

.card-charis-square {
    border-radius:0px;
}

.promo-charis {
    height:100px;
}

.categorymenulist {
    float:left;
    margin-right: 40px
}