<div class="modal-header">
Choices...
</div>
<div class="modal-body">
	<div class="list-group">
		<a href="#/ministries" ng-click="ok($event)" class="list-group-item">Ministries</a>
		<a href="#/agbmregions" ng-click="ok($event)" class="list-group-item">AGBM Regions</a>
		<a href="#/agbmmembers" ng-click="ok($event)" class="list-group-item">AGBM Members</a>
		<a href="#/churches" ng-click="ok($event)" class="list-group-item">Churches</a>
		<a href="#/staff" ng-click="ok($event)" class="list-group-item">Staff</a>
		<a href="#/login" ng-click="ok($event)" class="list-group-item">Login</a>
		<a href="#/logout" ng-click="ok($event)" class="list-group-item">Logout</a>		
		<a href="/index.cfm/handbook" target="_new" ng-click="ok($event)" class="list-group-item">Full Site</a>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel($event)">Close</button>
</div>